/CarLoan.class
/Distance.class
/DoubleOperation.class
/IntegerOperation.class
/LeapYear.class
/Quadratic.class
/SpringSeason.class
/Stats5.class
/SumOfIntegers.class
/SumOfTwoDice.class
/TemperatureConversion.class
/PrintThreeNames.class
/AdditionOfTwoNumbers.class
/Trigonometry.class
